:host ::ng-deep {
.p-menu-submenu-label {
    padding: 0;
  }
  .p-menu {
    border-radius: 12px;
  }
  .p-menu-item-link {
    padding: 6px 8px;
    gap: 8px;
  }
  .p-menu-item-link:hover {
    background-color: var(--color-red-50);
  }
  .p-button{
    background-color: transparent;
    border: none;
    color: var(--color-zinc-600);
  
  &:not(:disabled):hover {
    background-color: transparent;
    border: none;
    color: var(--color-zinc-800);
    }
}
}