<footer class="dark:bg-zinc-900 mt-40 py-10 lg:px-20 bg-zinc-800">
    <div class="grid grid-cols-1 lg:grid-cols-[300px_1fr_1fr] max-w-[1280px] mx-auto">
        <div class="img flex flex-col items-center lg:items-start gap-[6px]">
            <img
                src="./Images/flower-logo.png"
                class="w-[240px] h-[225px]"
                alt="flower-logo "
            />
            <div>
                <h3 class="text-soft-pink-300 text-lg font-semibold">
                Rose E-Commerce App
                </h3>
                <h4 class="text-white font-normal text-sm">
                All rights reserved | 2025
                </h4>
            </div>
        </div>
        <div class="flex flex-col py-10 lg:py-0 justify-start items-center lg:items-start">
            <h3 class="text-soft-pink-300 text-lg font-semibold">
                Discover our website
            </h3>
            <ul class="flex flex-col gap-1 text-base text-white">
                <li> <a routerLink="/home" class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Home</a> </li>
                <li> <a routerLink="/products" class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Products</a> </li>
                <li> <a routerLink="/categories" class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Categories</a> </li>
                <li> <a routerLink="/occasions" class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Occasions</a> </li>
                <li> <a routerLink="/contact" class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Contact</a> </li>
                <li> <a routerLink="/about" class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">About</a> </li>
                <li> <a class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Terms & Conditions</a> </li>
                <li> <a class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">Privacy Policy</a> </li>
                <li> <a class="hover:text-soft-pink-300 duration-200 transition-colors cursor-pointer">FAQs</a> </li>
            </ul>
        </div>
        <div class="flex flex-col items-center lg:items-end gap-3">
            <div class="flex flex-col gap-5">
                <div>
                    <h3 class="text-soft-pink-300 text-xl font-semibold">
                        Get <span class="text-white">20%</span> Off Discount Coupon
                    </h3>
                    <p class="text-sm font-normal text-gray-300 -mt-1">
                        By subscribing to our newsletter
                    </p>
                </div>
                <div class="flex bg-zinc-500 rounded-full overflow-hidden w-full max-w-[340px]">
                    <input
                        type="email"
                        placeholder="Enter Your Email"
                        class="bg-transparent flex-1 px-4 py-3 text-sm outline-none text-white"
                    />
                    <button
                        class="bg-maroon-50 hover:bg-soft-pink-200 duration-200 transition-colors text-maroon-700 px-6 font-semibold flex items-center gap-2 cursor-pointer rounded-full"
                    >
                        Subscribe <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>