.p-dropdown {
  border-radius: 10px !important;
  border: 1px solid #d4d4d8 !important;
  height: 49px !important;
  display: flex;
  align-items: center;
}

.p-dropdown .p-inputtext {
  padding: 12px 16px !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  border-color: #7a1d1d !important;
  box-shadow: 0 0 0 2px rgba(122, 29, 29, 0.2) !important;
}
