:host {
  display: block;
  width: 100%;
}

.hero-carousel {
  width: 100%;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-top: 50px;

  .slide {
    width: 100%;
    height: 100%;
    position: relative;

    .slide-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: brightness(0.55);
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      color: white;

      h1 {
        margin-top: 160px;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        opacity: 0.9;
        margin-bottom: 20px;
      }

      button {
        margin-top: 35px;
        padding: 5px 25px;
        background-color: #fbeaea;
        color: #a6252a;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
      }
    }

    .nav-arrows {
      position: absolute;
      bottom: 30px;
      right: 30px;
      display: flex;
      gap: 12px;

      .arrow {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background: #f3dcdc;
        font-size: 28px;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    .dots {
      position: absolute;
      top: 25px;
      right: 30px;
      display: flex;
      gap: 8px;

      .dot {
        width: 10px;
        height: 10px;
        background: #fff7;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &.active {
          background: #b8343c;
          width: 24px;
          border-radius: 10px;
        }
      }
    }
  }
}