<h2 class="font-Primary text-3xl font-semibold dark:text-white mb-6">Shipping Address</h2>
<div class="flex flex-col justify-center gap-3 mb-3">
    @for (address of userAddressesInput$()|async; track $index) {
    <div (click)="selectAddress(address._id)"
        class="border border-zinc-300 px-4 py-3.5 rounded-xl font-Primary cursor-pointer hover:border-maroon-600 transition-all duration-300 dark:hover:border-soft-pink-300"
        [class]="{'bg-maroon-600':selectedAddressId === address._id,
                  'dark:bg-soft-pink-300':selectedAddressId === address._id
        }">
        <div class="flex justify-between items-center">
            <h3 class="font-semibold text-2xl text-zinc-800 dark:text-white"
                [class]="{'text-white!':selectedAddressId === address._id,
                    'dark:text-zinc-800!':selectedAddressId === address._id
                }">{{address.city}}</h3>
            <div class="flex gap-1.5 items-center justify-center">
                <span
                    class="size-8.25 rounded-full bg-maroon-600 dark:bg-soft-pink-300 flex justify-center items-center"
                    [class]="{'bg-white':selectedAddressId === address._id,
                        'dark:bg-zinc-800!':selectedAddressId === address._id
                    }">
                    <i class="pi pi-phone"
                    [class]="{'text-maroon-600!':selectedAddressId === address._id,
                    'dark:text-white!':selectedAddressId === address._id
                    }"></i>
                </span>
                <span class="font-medium text-lg text-zinc-500 dark:text-white"
                [class]="{'text-white!':selectedAddressId === address._id,
                    'dark:text-zinc-800!':selectedAddressId === address._id
                }">+2{{address.phone}}</span>
            </div>

        </div>
        <p class="font-medium text-zinc-800 mt-1.5 bg-zinc-100 rounded-full py-1 px-3 inline-block"
        [class]="{'text-zinc-50!':selectedAddressId === address._id,
                    'bg-zinc-800!':selectedAddressId === address._id
        }">{{address.street}}
        </p>

    </div>
    }@empty {
        <h2 class="font-Primary text-2xl font-semibold dark:text-white mb-6">No saved addresses</h2>
    }

    <div class="border-b border-zinc-100 pt-2.5 pb-9 flex flex-col justify-center gap-3">
        @if ((userAddressesInput$()|async)?.length != 0) {
        <span class="or-divider text-center text-zinc-500 font-Primary font-semibold text-lg dark:text-white">OR</span>
        }
        <button (click)="addNewAddress()"
            class="font-Primary font-semibold text-lg text-maroon-600 dark:text-maroon-600 hover:bg-soft-pink-50 transition-colors duration-300 bg-maroon-50 rounded-[10px] py-3.5 px-4 cursor-pointer">Add
            a New Address</button>
    </div>

</div>