.pi-phone{
    color: var(--phone-icon-color);
}
.or-divider{
  position: relative;
  
&::before, &::after {
  content: "";
  width: 350px;
  height: 1px;
  background-color: var(--color-zinc-100);
  position: absolute;
  top: 50%;
  left: 0px;
}
&::after {
  right: 0px;
  left: auto;
}
}