<div class="section">
  <div class="gallery">
    <div class="images">
      <div class="div1">
        <img src="/Images/Frame 1.png" alt="" />
      </div>
      <div class="div2">
        <img src="/Images/Frame 4.png" alt="" />
      </div>
      <div class="div3">
        <img src="/Images/Frame 2.png" alt="" />
      </div>
      <div class="div4">
        <img src="/Images/Frame 5.png" alt="" />
      </div>
      <div class="div5">
        <img src="/Images/Frame 3.png" alt="" />
      </div>
      <div class="div6">
        <img src="/Images/Frame 6.png" alt="" />
      </div>
    </div>
    
  </div>

</div>
