.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}
section{
  width: 100%;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.images div {
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
}

.div1 { grid-row: span 4; }
.div2 { grid-column: 1; grid-row: 5 / span 3; }
.div3 { grid-column: 2; grid-row: 1 / span 3; }
.div4 { grid-column: 2; grid-row: 4 / span 4; }
.div5 { grid-column: 3; grid-row: 1 / span 3; }
.div6 { grid-column: 3; grid-row: 4 / span 4; }


@media (max-width: 768px) {
  .images {
  grid-template-columns: 2fr 1fr;
    grid-auto-rows: 200px;
  }
  .images div {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}
        
