.section-title {
  position: relative;
  z-index: 1;
}
@media (min-width: 600px) {
  .section-title::before {
    content: '';
    position: absolute;
    width: 29%;
    height: 2px;
    background-color: #e65073;
    bottom: -2px;
    left: 0;
  }

  .section-title::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 15px;
    background-color: var(--title-line);
    bottom: -2px;
    left: 0;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
