<form [formGroup]="changePassword" (ngSubmit)="changePasswordSubmit()" class="flex flex-col  py-8">
    <div class="Password relative :after:content-[''] after:absolute after:bottom-[-26px] after:left-0 after:w-full after:h-px after:bg-zinc-200 mb-10">
        @let oldPassControl = changePassword.get("oldPassword");
        <label for="oldPassword" class="text-black text-[14px] font-inter font-medium">Old Password</label>
        <app-form-input formControlName="oldPassword" [id]="'oldPassword'" [type]="togglePassword() ? 'text' : 'password'"
            [nameControl]="oldPassControl" [placeholder]="'********'"></app-form-input>
        @if (togglePassword()) {
        <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i
                class="fa-solid fa-eye"></i> </span>
        }@else {
        <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i
                class="fa-solid fa-eye-slash text-zinc-400"></i> </span>
        }
        <app-error-message [nameControl]="oldPassControl"></app-error-message>
    </div>

    <div class="newPassword relative">
        @let newPasswordControl = changePassword.get("newPassword");
        <label for="newPassword" class="text-black text-[14px] font-inter font-medium">New Password</label>
        <app-form-input formControlName="newPassword" [id]="'newPassword'"
            [type]="togglePassword() ? 'text' : 'password'" [nameControl]="newPasswordControl"
            [placeholder]="'********'"></app-form-input>
        @if (togglePassword()) {
        <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i
                class="fa-solid fa-eye"></i> </span>
        }@else {
        <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i
                class="fa-solid fa-eye-slash text-zinc-400"></i> </span>
        }
        <app-error-message [nameControl]="newPasswordControl"></app-error-message>
    </div>

    <div class="confirmPassword relative mt-2.5">
        @let confirmPasswordControl = changePassword.get("confirmPassword");
        <label for="confirmPassword" class="text-black text-[14px] font-inter font-medium">Confirm New Password</label>
        <app-form-input formControlName="confirmPassword" [id]="'confirmPassword'"
            [type]="togglePassword() ? 'text' : 'password'" [nameControl]="confirmPasswordControl"
            [placeholder]="'********'"></app-form-input>
        @if (togglePassword()) {
        <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i
                class="fa-solid fa-eye"></i> </span>
        }@else {
        <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i
                class="fa-solid fa-eye-slash text-zinc-400"></i> </span>
        }

        @if ( (confirmPasswordControl?.errors || changePassword.getError("misMatch")) && confirmPasswordControl?.touched
        ) {
        <div class="flex items-start gap-2 mt-1 mb-3 p-2 rounded-xl border border-red-200 bg-red-50 text-red-700 shadow-sm transition-all duration-300"
            role="alert">
            <svg class="w-5 h-5 mt-0.5 shrink-0 text-red-500" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v2m0 4h.01M4.93 4.93l14.14 14.14M12 2a10 10 0 100 20 10 10 0 000-20z" />
            </svg>
            <ul class="space-y-1 text-sm font-inter font-medium list-disc list-inside">
                @if (confirmPasswordControl?.getError("required")) {
                <li>This field is required.</li>
                }
                @else if (changePassword.getError("misMatch")) {
                <li>Password and Confirm Password should match.</li>
                }
            </ul>
        </div>
        }

    </div>
    <div class="self-end mt-15 mb-3">
    <app-button label="Change Password" type="submit" [loading]="isCallingAPI()" [parentForm]="changePassword"></app-button>
    </div>

    @if (successPassword()) {
    <app-auth-status [type]="'success'" [message]="successPassword()"></app-auth-status>
    }
    @else if (errorMsgPassword()) {
    <app-auth-status [type]="'error'" [message]="errorMsgPassword()"></app-auth-status>
    }

</form>