:host ::ng-deep {
  .p-toolbar {
    gap: 5px !important;
    border: 0;
    flex-wrap: nowrap;
  }

  .p-toolbar-start {
    justify-content: end;
    flex-basis: 10%;
  }

  .p-toolbar-end {
    flex-basis: 25%;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    gap: 5px;
  }

  .p-toolbar-center {
    gap: 10px;
    flex-basis: 65%;
  }

  .p-inputtext {
    border-radius: 10px;
    &::placeholder {
      color: var(--color-zinc-400);
    }
  }

  .p-inputtext:enabled:focus {
    border-color: var(--color-maroon-700);
  }
  .p-menu-submenu-label {
    padding: 0;
  }
  .p-menu {
    border-radius: 12px;
  }
  .p-menu-item-link {
    padding: 6px 8px;
    gap: 8px;
  }
  .p-menu-item-link:hover {
    background-color: var(--color-red-50);
  }
}
.name-text::before {
  content: 'Hello';
  color: var(--color-zinc-500);
  font-size: 12px;
  position: absolute;
  top: -7px;
}

:host-context(.dark) {
  .name-text::before {
    color: var(--color-zinc-400);
  }
}

:host-context(.dark) ::ng-deep {
  .p-toolbar {
    background-color: var(--color-zinc-900) !important;
  }

  .p-menu {
    background-color: var(--color-zinc-800) !important;
    border: 1px solid var(--color-zinc-700) !important;
  }

  .p-menu .p-menuitem-text {
    color: var(--color-zinc-200) !important;
  }

  .p-menu .p-menuitem-icon {
    color: var(--color-zinc-400) !important;
  }

  .p-menu-item-link:hover {
    background-color: var(--color-zinc-700) !important;
  }

  .p-inputtext {
    background-color: var(--color-zinc-800) !important;
    color: white !important;
    border-color: var(--color-zinc-700) !important;
    &::placeholder {
      color: var(--color-zinc-500);
    }
  }
}
