<p-toolbar
  styleClass="bg-white dark:bg-zinc-900 border-none transition-colors duration-300"
>
  <ng-template #start>
    <img src="/Images/logo.png" class="w-[85px]" alt="logo" />
  </ng-template>

  <ng-template #center>
    @if (userLoggedNavBar()) {

    <p
      class="mx-4 location-text text-maroon-700 dark:text-soft-pink-300 font-medium text-base relative text-nowrap"
    >
      <i class="pi pi-map-marker" style="width: 20px"></i>{{ userCityNavBar() }}
    </p>

    }
    <p-iconfield iconPosition="left" styleClass="w-full">
      <p-inputicon styleClass="pi pi-search dark:text-zinc-400" />
      <input
        class="w-full h-[52px] dark:bg-zinc-800 dark:text-white dark:border-zinc-700 dark:placeholder:text-zinc-500"
        type="text"
        pInputText
        placeholder="What awesome gift are you looking for?"
        [ngModel]="_searchService.searchTerm()"
        (ngModelChange)="_searchService.setSearchTerm($event)"
      />
    </p-iconfield>
  </ng-template>

  <ng-template #end>
    <div class="text-center w-1/3">
      @if (userLoggedNavBar()) {
      <a
        (click)="menu.toggle($event)"
        class="name-text cursor-pointer text-maroon-700 dark:text-soft-pink-300 font-medium text-base relative text-nowrap"
      >
        {{ firstNameNavBar() }}
        <i
          class="pi pi-angle-down text-zinc-500 dark:text-zinc-400"
          style="width: 18px"
        ></i
      ></a>

      <p-menu styleClass="text-start dark:bg-zinc-800 dark:border-zinc-700" #menu [model]="items" [popup]="true">
        <ng-template #start>
          <p class="font-medium text-sm text-maroon-700 font-inter px-2 py-1.5">
            {{ firstNameNavBar() }} {{ lastNameNavBar() }}
          </p>
        </ng-template>

        <ng-template #item let-item>
          <a pRipple class="flex items-center p-menu-item-link">
            <span
              *ngIf="item.icon && item.icon !== 'svg-order-icon'"
              [class]="item.icon"
              style="width: 16px"
            ></span>

            <span
              *ngIf="item.icon === 'svg-order-icon'"
              class="svg-icon-wrapper"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.0002 8H6.66683M10.0002 5.33333H6.66683M12.6668 11.3333V3.33333C12.6668 2.97971 12.5264 2.64057 12.2763 2.39052C12.0263 2.14048 11.6871 2 11.3335 2H2.66683M2.66683 2C3.02045 2 3.35959 2.14048 3.60964 2.39052C3.85969 2.64057 4.00016 2.97971 4.00016 3.33333V12.6667C4.00016 13.0203 4.14064 13.3594 4.39069 13.6095C4.64074 13.8595 4.97987 14 5.3335 14M2.66683 2C2.31321 2 1.97407 2.14048 1.72402 2.39052C1.47397 2.64057 1.3335 2.97971 1.3335 3.33333V4.66667C1.3335 4.84348 1.40373 5.01305 1.52876 5.13807C1.65378 5.2631 1.82335 5.33333 2.00016 5.33333H4.00016M5.3335 14H13.3335C13.6871 14 14.0263 13.8595 14.2763 13.6095C14.5264 13.3594 14.6668 13.0203 14.6668 12.6667V12C14.6668 11.8232 14.5966 11.6536 14.4716 11.5286C14.3465 11.4036 14.177 11.3333 14.0002 11.3333H7.3335C7.15669 11.3333 6.98712 11.4036 6.86209 11.5286C6.73707 11.6536 6.66683 11.8232 6.66683 12V12.6667C6.66683 13.0203 6.52635 13.3594 6.2763 13.6095C6.02626 13.8595 5.68712 14 5.3335 14Z"
                  class="stroke-zinc-700 dark:stroke-zinc-400"
                  stroke-width="1.25"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span class="font-inter text-sm font-medium text-zinc-700 dark:text-zinc-200">{{
              item.label
            }}</span>
          </a>
        </ng-template>
      </p-menu>

      }@else {
      <a class="cursor-pointer text-nowrap text-zinc-700 dark:text-zinc-200" routerLink="/login"
        ><i class="pi pi-user me-2" style="width: 20px"></i>Login</a
      >
      }
    </div>

    <div
      class="w-1/3 h-full flex items-center justify-center border-x border-x-zinc-200 dark:border-x-zinc-700 text-zinc-700 dark:text-zinc-200 gap-2.5 px-4"
    >
      <app-nav-icon
        [userStatus]="userLoggedNavBar() ? 'logged' : ''"
        pageName="/wishlist"
        iconName="pi-heart"
        [itemsCheck]="wihlistItemsNavBar()"
      ></app-nav-icon>

      <app-nav-icon
        [userStatus]="userLoggedNavBar() ? 'logged' : ''"
        pageName="/cart"
        iconName="pi-shopping-cart"
        [itemsCheck]="cartItemsNavBar()"
      ></app-nav-icon>

      <app-nav-icon
        [userStatus]="userLoggedNavBar() ? 'logged' : ''"
        pageName="/notification"
        iconName="pi-bell"
        [itemsCheck]="notificationNumNavBar()"
      ></app-nav-icon>
    </div>

    <div class="w-1/3 flex justify-between items-center gap-1">

      <p-togglebutton (onChange)="onLangChange()"  [(ngModel)]="checkedModel" onLabel="English" offLabel="العربية" styleClass="w-24" />

      <button
        (click)="toggleDarkMode()"
        class="p-2 rounded-full bg-gray-200 dark:bg-soft-pink-300 text-gray-800 dark:text-zinc-900 font-medium transition-colors duration-300 hover:scale-110"
        [attr.aria-label]="isDarkMode ? 'Switch to Light Mode' : 'Switch to Dark Mode'"
      >
        <i [class]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'" class="text-lg"></i>
      </button>

    </div>
  </ng-template>
</p-toolbar>