<section class="my-32 flex flex-col gap-10">

    <div class="flex flex-wrap gap-2 justify-between items-center ">
        <app-section-title [sectionTitle]="'Most Popular'"></app-section-title>

        <nav>
            <ul class="flex gap-6">
                <!-- All -->
                <li>
                    <button
                        (click)="activeOccasion.set('all')"
                        class="text-zinc-700 font-medium text-[16px] align-middle cursor-pointer
                            active:text-maroon-500 active:scale-90 transition-all duration-300"
                        [class.text-maroon-600]="activeOccasion() === 'all'"
                        [class.text-zinc-700]="activeOccasion() !== 'all'">
                        All
                    </button>
                </li>

                <!-- 4 Occasions  -->
                @for (occ of occasions().slice(0, 4); track occ._id) {
                    <li>
                        <button
                        (click)="setOccasion(occ._id)"
                        class="text-zinc-700 font-medium text-[16px] align-middle cursor-pointer
                                active:text-maroon-500 active:scale-90 transition-all duration-300"
                        [class.text-maroon-600]="activeOccasion() === occ._id"
                        [class.text-zinc-700]="activeOccasion() !== occ._id">

                        {{ occ.name }}

                        </button>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @for (product of filteredProducts() | search:_searchService.searchTerm() ; track product.id) {
            <app-product-card [product]="product"></app-product-card>
        }
    </div>

    <div class="flex justify-end gap-2.5 ">
        <a class="text-maroon-700 font-semibold text-16px align-middle cursor-pointer hover:text-maroon-600 transition-colors duration-200">View More <i class="fa-solid fa-arrow-right"></i></a>
    </div>

</section>
