 <div class="flex flex-col gap-6 ">
            <h3 class="font-Primary font-semibold text-3xl dark:text-white">Summary</h3>
            <div class="rounded-lg p-4 bg-zinc-50 flex flex-col gap-6">
                <!-- div for input & btn -->
                <div class="grid grid-cols-[60%_40%] gap-x-2 place-content-center">
                    <input placeholder="Coupon Code" type="text"
                        class="border bg-white border-zinc-300 rounded-xl focus:outline-none p-3.5 text-sm text-zinc-400 font-inter">

                    <button
                        class="w-full p-3.5 rounded-[10px] bg-maroon-600 text-white text-sm text-nowrap flex justify-center items-center gap-2 hover:bg-maroon-50 hover:text-maroon-700 transition-all duration-300 cursor-pointer">
                        <i class="pi pi-ticket"></i>
                        <span> Apply Coupon</span></button>
                </div>
                <!-- coupon box -->
                <div class="border border-zinc-300 rounded-md h-64 flex justify-center items-center">
                    <p class="font-Primary italic text-zinc-400">No coupons applied</p>
                </div>
                <!-- div for price part -->
                <div class="font-Primary text-zinc-800 p-2.5">
                   @if (discount()) {
                     <div class=" font-medium text-lg flex justify-between items-center">
                        <span>Subtotal</span>
                        <span>250 EGP</span>
                    </div>
                    <p class="font-semibold discount text-center ">50% Discount</p>
                   }
                    <div class=" font-bold text-2xl flex justify-between items-center">
                        <span>Total</span>
                        <span>{{totalPrice()}} EGP</span>
                    </div>
                </div>
            </div>

        </div>
