<section>
    <h2 class="font-bold text-3xl">Update Profile</h2>

    <div class="flex flex-col justify-between h-screen mt-10">

        <div class="flex flex-col gap-3">
            <a routerLink="update-profile" routerLinkActive="bg-zinc-800 text-white" class="cursor-pointer py-3 px-4 rounded-xl gap-2.5">
                My Account
            </a>
            
            <a routerLink="change-password" routerLinkActive="bg-zinc-800 text-white" class="cursor-pointer cursor-pointer py-3 px-4 rounded-xl gap-2.5">
                Change Password
            </a>
        </div>
        
        <a class="text-maroon-500 cursor-pointer">Logout</a>
        
    </div>


</section>
