<section class="max-w-250 min-h-244.5 flex flex-col gap-6">
    <h1 class="text-zinc-800 text-2xl font-inter font-semibold">Add a New Product</h1>
        
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="bg-white min-h-231 p-6 rounded-2xl flex flex-col gap-10">
        
        <div class="w-full min-h-178.5 flex flex-col gap-4.5 rounded-2xl">

            <div class="title">
                @let titleControl = productForm.get('title');
                <label for="title" class="text-sm font-medium font-inter text-zinc-800">title <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                <app-form-input  formControlName="title" [id]="'title'" [type]="'text'" [nameControl]="titleControl" [placeholder]="'Enter product title'"></app-form-input>
                <app-error-message [nameControl]="titleControl"></app-error-message>
            </div>

            <div class="description">
                @let descriptionControl = productForm.get('description');
                <label for="description" class="text-sm font-medium font-inter text-zinc-800">Description <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                <textarea class="w-full min-h-[150px] rounded-[10px] p-4 resize-none text-[#111] bg-white disabled:bg-zinc-100 disabled:text-zinc-400  border border-[#D4D4D8] placeholder:text-[#A1A1AA] text-sm outline-none transition-all duration-200 focus:border-[#7A1D1D] focus:ring-2 focus:ring-[#7A1D1D]/20" formControlName="description" id="description" placeholder="Enter product description" 
                    [ngClass]="{
                        'border-[#7A1D1D]': descriptionControl?.valid || !descriptionControl?.touched,
                        'border-[#F04438]': descriptionControl?.invalid && descriptionControl?.touched
                    }"
                ></textarea>
                <app-error-message [nameControl]="descriptionControl"></app-error-message>
            </div>
            
            <!-- price & discount & priceAfterDiscount -->
            <div class="lg:flex gap-2.5">
                <div class="price flex-1 py-[12px] lg:py-0">
                    @let priceControl = productForm.get('price');
                    <label for="price" class="text-sm font-medium font-inter text-zinc-800">Price <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                    <app-form-input  formControlName="price" [id]="'price'" [type]="'number'" [nameControl]="priceControl" [placeholder]="'Enter price'"></app-form-input>
                    <app-error-message [nameControl]="priceControl"></app-error-message>
                </div>

                <div class="discount flex-1 py-[12px] lg:py-0">
                    @let discountControl = productForm.get('discount');
                    <label for="discount" class="text-sm font-medium font-inter text-zinc-800">Discount <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                    <app-form-input  formControlName="discount" [id]="'discount'" [type]="'number'" [nameControl]="discountControl" [placeholder]="'Enter discount'"></app-form-input>
                    <app-error-message [nameControl]="discountControl"></app-error-message>
                    @if (productForm.errors?.['discountGreater']) {
                        <div class="flex items-start gap-2 mt-1 mb-3 p-2 rounded-xl border border-red-200 bg-red-50 text-red-700 shadow-sm transition-all duration-300"role="alert">
                            <svg
                                class="w-5 h-5 mt-[2px] flex-shrink-0 text-red-500"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                            >
                                <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v2m0 4h.01M4.93 4.93l14.14 14.14M12 2a10 10 0 100 20 10 10 0 000-20z"
                                />
                            </svg>
                            <ul class="space-y-1 text-sm font-medium list-disc list-inside">
                            <p class="text-red-500 text-sm">
                                Discount must be less than price
                            </p>
                            </ul>
                        </div>
                    }
                </div>
                
                <div class="priceAfterDiscount flex-1 py-[12px] lg:py-0">
                    @let priceAfterDiscountControl = productForm.get('priceAfterDiscount');
                    <label for="priceAfterDiscount" class="text-sm font-medium font-inter text-zinc-800">Price after discount <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                    <app-form-input formControlName="priceAfterDiscount" [id]="'priceAfterDiscount'" [disabledFlag]="true" [type]="'number'" [readonly]="true"  [nameControl]="priceAfterDiscountControl"></app-form-input>
                    <app-error-message [nameControl]="priceAfterDiscountControl"></app-error-message>
                </div>
            </div>

            <div class="quantity">
                @let quantityControl = productForm.get('quantity');
                <label for="quantity" class="text-sm font-medium font-inter text-zinc-800">Quantity <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                <app-form-input  formControlName="quantity" [id]="'quantity'" [type]="'number'" [nameControl]="quantityControl" [placeholder]="'Enter quantity'"></app-form-input>
                <app-error-message [nameControl]="quantityControl"></app-error-message>
            </div>
            
            <!-- Product image & Product gallery -->
            <div class="lg:flex gap-2.5">

                <div class="Product image flex-1 py-[12px] lg:py-0">
                    @let imgCoverControl = productForm.get('imgCover');
                    <label for="imgCover" class="text-sm font-medium font-inter text-zinc-800">Product cover image 
                    <span class="text-sm font-medium font-inter text-red-600">*</span>
                    </label>
                    <label
                        for="imgCover"
                        class="flex items-center justify-end p-4 gap-2 h-12.5 border border-zinc-300 rounded-lg cursor-pointer hover:bg-zinc-50 transition"
                    >
                        <i class="pi pi-upload text-red-500"></i>
                        <span class="text-sm text-zinc-600">Upload file</span>
                    </label>
                    <input
                        id="imgCover"
                        type="file"
                        hidden
                        (change)="onCoverChange($event)"
                        accept="image/png, image/jpeg, image/gif"
                    />
                    <app-error-message [nameControl]="imgCoverControl"></app-error-message>
                </div>

                <div class="Product gallery flex-1 py-[12px] lg:py-0">
                    @let imagesControl = productForm.get('images');
                    <label for="images" class="text-sm font-medium font-inter text-zinc-800">Product gallery
                        <span class="text-sm font-medium font-inter text-red-600">*</span>
                    </label>
                    <label
                        for="images"
                        class="flex items-center justify-end p-4 gap-2 h-12.5 border border-zinc-300 rounded-lg cursor-pointer hover:bg-zinc-50 transition"
                    >
                        <i class="pi pi-upload text-red-500"></i>
                        <span class="text-sm text-zinc-600">Upload files</span>
                    </label>
                    <input
                        id="images"
                        type="file"
                        hidden
                        multiple
                        (change)="onImagesChange($event)"
                        accept="image/png, image/jpeg, image/gif"
                    />
                    <app-error-message [nameControl]="imagesControl"></app-error-message>
                </div>

            </div>

            <div class="Category">
                @let categoryControl = productForm.get('category');
                <label for="category" class="text-sm font-medium font-inter text-zinc-800">Category <span class="text-sm font-medium font-inter text-red-600">*</span></label>
                <p-dropdown
                    id="category"
                    [options]="categories()"
                    optionLabel="name"
                    optionValue="_id"
                    formControlName="category"
                    placeholder="Select an option"
                    [loading]="categoriesLoading()"
                    [ngClass]="{
                    'ng-invalid ng-dirty':
                    categoryControl?.invalid &&
                    categoryControl?.touched
                    }"
                    styleClass="w-full! h-12.25! p-1 rounded-[10px]! border border-[#D4D4D8]! focus:border-[#7A1D1D]! focus:ring-2! focus:ring-[#7A1D1D]/20!"
                >
                </p-dropdown>
                <app-error-message [nameControl]="categoryControl"></app-error-message>
            </div>

            <div class="Occasion">
                @let occasionControl = productForm.get('occasion');
                <label for="occasion" class="text-sm font-medium font-inter text-zinc-800">Occasion <span class="text-sm font-medium font-inter text-red-600">*</span></label>                
                
                <p-dropdown
                    id="occasion"
                    [options]="occasions()"
                    optionLabel="name"
                    optionValue="_id"
                    formControlName="occasion"
                    placeholder="Select an option"
                    [loading]="occasionsLoading()"
                    [ngClass]="{
                    'ng-invalid ng-dirty':
                    occasionControl?.invalid &&
                    occasionControl?.touched
                    }"
                    styleClass="w-full! h-12.25! p-1 rounded-[10px]! border border-[#D4D4D8]! focus:border-[#7A1D1D]! focus:ring-2! focus:ring-[#7A1D1D]/20!"
                >
                </p-dropdown>
                <app-error-message [nameControl]="occasionControl"></app-error-message>
            </div>
            
        </div>

        @if (success()) {
            <app-auth-status [type]="'success'" [message]="success()" ></app-auth-status>
        }
        @else if (errorMsg()) { 
            <app-auth-status [type]="'error'" [message]="errorMsg()" ></app-auth-status>
        }
        
        <app-button [label]="'Add Product'" [type]="'submit'" [loading]="isLoading()" [disabled]="productForm.invalid" ></app-button>    


    </form>

</section>