:host ::ng-deep {
  .p-button-text.p-button-secondary {
    background: var(--color-maroon-600);
    border-color: transparent;
    color: var(--color-maroon-50);
    &:not(:disabled):hover {
     background: var(--color-maroon-700);
    border-color: transparent;
    color: var(--color-maroon-50);
    }

  }
 
   .p-carousel-prev-button {

    z-index: 5;
  margin-right: -35px;
    
  }
  .p-carousel-next-button{
  
   z-index: 5;
  margin-left: -35px;

  }
  
  
}
