<section class="mt-24 w-[85%] m-auto flex items-center gap-9">
    <div class="w-1/4">
        <app-section-title alignment="text-start" sectionName="Best Selling"></app-section-title>
        <h2 class="mt-2.5 font-bold text-3xl text-maroon-700"><span class="text-soft-pink-500">Check Out</span> What
            Everyone’s <span class="text-soft-pink-500">Buying</span> Right Now</h2>
        <p class="leading-4 text-zinc-500 mt-2">Not sure what to choose? <br>Start with our best sellers, these are the
            gifts our customers keep coming back for.
            Whether you're celebrating a birthday, anniversary or wedding, our top picks are guaranteed to leave a
            lasting impression.</p>
        <div class="mt-24 justify-self-start">
            <app-button label="Explore gifts" icon="pi pi-arrow-right" iconPosition="right"></app-button>
        </div>
    </div>
    <div class="w-3/4">
        
    </div>
</section>