<div class="flex flex-col items-center justify-center min-h-screen bg-[#fafafa] p-6 text-center font-inter">
      <div>
        <img src="Images/lock-shield.png" alt="Not Authorized" class="size-90 mb-12.5 m-auto">
        <h1 class=" font-semibold text-4xl mb-1.5">You are not authorized to access this page.</h1>
        <h2 class="text-zinc-400 text-xl mb-1.5">If you think this is wrong, please contact the support.</h2>
      <div class="flex justify-center items-center py-5.25 border-t border-zinc-300  w-115.75 m-auto">
        <button (click)="goToHomePage()" class="cursor-pointer px-4 py-2.5 rounded-[10px] text-zinc-800 font-mulish font-semibold text-sm border border-zinc-300 ">
        Go to Homepage
      </button>
      </div>
      </div>
    </div>