<section class="flex justify-center">

    <div class="flex justify-center items-center flex-col gap-10">
    
        <div class="form w-[410px] h-auto">
            @if (step() === 1) {
                <div class="title">
                    <h2 class="text-2xl font-bold text-black">Forgot Password?</h2>
                    <p class="text-16px font-normal">Worry not, we’ll send you instructions to help you reset it.</p>
                </div>
                
                <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()"  class="flex flex-col gap-8 border-y border-[#E4E4E7] my-5 py-8">
                    <div class="email"> 
                        @let emailControl = verifyEmail.get("email");
                        <label for="email" class="text-black text-[14px] font-inter font-medium">Email</label>
                        <app-form-input formControlName="email" [id]="'email'" [type]="'email'" [nameControl]="emailControl" [placeholder]="'Email...'"></app-form-input>
                        <app-error-message [nameControl]="emailControl"></app-error-message>
                    </div>
                    <app-button label="Continue" type="submit" [loading]="isCallingAPI()"></app-button>
        
                    @if (successEmail()) {
                        <app-auth-status [type]="'success'" [message]="successEmail()" ></app-auth-status>
                    }
                    @else if (errorMsgEmail()) { 
                        <app-auth-status [type]="'error'" [message]="errorMsgEmail()" ></app-auth-status>
                    }
                    
                </form>
    
                <div class="logIn flex justify-center text-[16px] font-inter font-medium">
                    <p class="text-[#313131]">Don’t have an account yet?</p> <a routerLink="/register" class="text-maroon-700 hover:text-maroon-500 transition-colors cursor-pointer duration-300 pl-1">Create one now!</a>
                </div>
            }
            @else if (step() === 2) {
                <div class="title">
                    <h2 class="text-2xl font-bold text-black">Enter the OTP Code</h2>
                    <p class="text-16px font-normal">We have sent a 6-digit code to user&#64;example.com Edit</p>
                </div>
    
                <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" class="flex flex-col gap-8 border-y border-[#E4E4E7] my-5 py-8">
                    <div class="resetCode"> 
                        @let codeControl = verifyCode.get("resetCode");
                        <label for="resetCode" class="sr-only text-black text-[14px] font-inter font-medium">Reset Code</label>
                        <div class="card flex justify-center items-center">
                            <p-inputOtp
                                id="resetCode"
                                formControlName="resetCode"
                                [length]="6"
                                [mask]="true"
                                (onComplete)="onOtpComplete($event)">
                            </p-inputOtp>
                        </div>
                        <app-error-message [nameControl]="codeControl"></app-error-message>
                    </div> 
                    <div class="flex justify-end w-full">
                        <a class="text-maroon-700 hover:text-maroon-500 transition-colors cursor-pointer duration-300">Send a new code</a>
                    </div>

                    <app-button label="Verify OTP" type="submit" [loading]="isCallingAPI()"></app-button>

                    @if (successCode()) {
                        <app-auth-status [type]="'success'" [message]="successCode()" ></app-auth-status>
                    }
                    @else if (errorMsgCode()) { 
                        <app-auth-status [type]="'error'" [message]="errorMsgCode()" ></app-auth-status>
                    }

                </form>
    
                <div class="logIn flex justify-center text-[16px] font-inter font-medium">
                    <p class="text-[#313131]">Need help?</p> <a routerLink="/register" class="text-maroon-700 hover:text-maroon-500 transition-colors cursor-pointer duration-300 pl-1">Contact us</a>
                </div>
            }
            @else if (step() === 3) {
                <div class="title">
                    <h2 class="text-2xl font-bold text-black">Create a new password</h2>    
                    <p class="text-16px font-normal">Set a strong password to secure your account.</p>
                </div>
    
                <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" class="flex flex-col gap-8 border-y border-[#E4E4E7] my-5 py-8">
    
                    <div class="email"> 
                        @let email_control = resetPassword.get("email");
                        <label for="email" class="text-black text-[14px] font-inter font-medium">Email</label>
                        <app-form-input formControlName="email" [id]="'email'" [type]="'email'" [nameControl]="email_control" [placeholder]="'Email...'"></app-form-input>
                        <app-error-message [nameControl]="email_control"></app-error-message>
                    </div>
    
                    <div class="newPassword relative"> 
                        @let newPasswordcontrol = resetPassword.get("newPassword");
                        <label for="newPassword" class="text-black text-[14px] font-inter font-medium">New Password</label>
                        <app-form-input formControlName="newPassword" [id]="'newPassword'" [type]="togglePassword() ? 'text' : 'password'" [nameControl]="newPasswordcontrol" [placeholder]="'New Password...'" ></app-form-input>                
                        @if (togglePassword()) {
                            <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i class="fa-solid fa-eye"></i> </span>
                        }@else {    
                            <span (click)="togglePasswordVisibility()" class="absolute cursor-pointer top-[38px] right-2"> <i class="fa-solid fa-eye-slash text-zinc-400"></i> </span>
                        }
                        <app-error-message [nameControl]="newPasswordcontrol"></app-error-message>
                    </div>
    
                    <app-button label="Reset Password" type="submit" [loading]="isCallingAPI()"></app-button>
                                        
                    @if (successPassword()) {
                        <app-auth-status [type]="'success'" [message]="successPassword()" ></app-auth-status>
                    }
                    @else if (errorMsgPassword()) { 
                        <app-auth-status [type]="'error'" [message]="errorMsgPassword()" ></app-auth-status>
                    }
                
                </form>
    
                <div class="logIn flex justify-center text-[16px] font-inter font-medium">
                    <p class="text-[#313131]">Need help?</p> <a routerLink="/register" class="text-maroon-700 hover:text-maroon-500 cursor-pointer transition-colors duration-300 pl-1">Contact us</a>
                </div>
            }
        </div>
    
    </div>

</section>