<h1 class="font-inter font-semibold text-2xl text-zinc-800 mb-6">
    {{title()}}{{functionType()?.includes('Edit')?categoryOrOccasion.name:''}}</h1>
<div class="bg-white">
    <form #form="ngForm" class=" p-6 rounded-2xl md:w-3/4">
        <!-- Name input -->
        <div>
            <label for="catName" class="text-black text-[14px] font-inter font-medium"> Name <span
                    class="text-red-500">*</span></label>
            <app-form-input type="text" id="catName" name="catName" #nameModel="ngModel"
                [placeholder]="placeholderNameFiled()!" [(ngModel)]="categoryOrOccasion.name" required>
            </app-form-input>

        </div>
        <!-- Image Input -->
        <div class="mt-4.5 ">
            <label for="image" class="text-black text-[14px] font-inter font-medium"> {{imagelabel()}} <span
                    class="text-red-500">*</span>
                <div
                    class="p-4 border border-zinc-300 rounded-[10px] text-maroon-500 font-inter text-sm text-end cursor-pointer">
                    <div class=" flex items-center gap-2 justify-between">
                        <span class="text-zinc-800">{{getFileName()}}</span>
                        <span><i class="pi pi-upload"></i> <span> Upload file</span></span>
                    </div>
                    <input required id="image" type="file" accept="image/png, image/jpeg, image/jpg, image/webp"
                        placeholder="Upload file" (change)="onFileSelected($event)" class="hidden" />
                </div>
            </label>
            @if(imageErrorMessage) {
            <span class="text-red-500 text-sm mt-1">{{ imageErrorMessage }}</span>
            }

        </div>

        @if (functionType()?.includes('Edit')) {
        <a class="cursor-pointer mt-4.5 ms-auto flex items-center justify-center gap-1.5 w-fit border border-[#00000014] p-2.5 rounded-[10px] text-blue-600 font-inter text-sm"
            (click)="showImage()">
            <i class="pi pi-image"></i> <span>View category image</span>
        </a>
        }

        <button type="submit"
            class="w-full  text-white font-mulish text-sm font-semibold px-4 py-2.5 rounded-[10px] mt-32 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 bg-maroon-600"
            [disabled]="form.invalid || !categoryOrOccasion.image || !dataCheckChange()"
            (click)="onSubmit()">{{buttonName()}}</button>
    </form>

</div>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <img [src]="categoryOrOccasion.image" alt="Category Image" class="w-full object-contain">
</p-dialog>