<section class="w-[85%] m-auto font-Primary">
    <div class="grid gap-10 mt-16" [class.lg:grid-cols-[65%_35%]]="(cart$ | async)"
        [class.grid-cols-1]="!(cart$ | async)">
        <!-- cart section -->
        <app-cart-section
            [cart$]="cart$"
            [cartList$]="cartList$"
            (clearCartRequested)="handleClearCart()"
            (removeProductRequested)="handleRemoveProduct($event)"
            (continueShoppingRequested)="handleNavigation()">
        </app-cart-section>

        <!-- summary section -->
        @if ((cart$ | async)) {
       <app-summery [discount]="discount" (checkoutRequested)="handleCheckout()" [totalPrice]="(cart$ |async)?.cart?.totalPrice"></app-summery>
        }
    </div>



    <!-- products You may like -->
    <div class="mt-[50px]">
        <app-section-title sectionTitle="products you may like" alignment="text-start"></app-section-title>
        <!-- carousal here -->
    </div>
</section>