<section>
<div class="hidden md:block">
    <app-navbar
    [userLoggedNavBar]="userLogged"
    [firstNameNavBar]="firstName"
    [lastNameNavBar]="lastName"
    [userCityNavBar]="userCity"
    [wihlistItemsNavBar]="wihlistItems"
    [cartItemsNavBar]="cartItems"
    [notificationNumNavBar]="notificationNum"
    (clicked)="logoutUser()"></app-navbar>
</div>
<div class="md:hidden">
<app-nav-side-bar 
[firstNameSideBar]="firstName"
[lastNameSideBar]="lastName"
[userPhotoSideBar]="userPhoto"
[userCitySideBar]="userCity"
[userLoggedSideBar]="userLogged"
[wihlistItemsSideBar]="wihlistItems"
[cartItemsSideBar]="cartItems"
[notificationNumSideBar]="notificationNum"
(clicked)="logoutUser()"
></app-nav-side-bar>
</div>
<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
</section>
