:host ::ng-deep {
  .p-rating {
    gap: 8px;
  }
  .p-rating-icon {
    color: var(--yellow-star);
    width: 25px;
    height: 25px;
  }
  .p-slider-range {
    background: var(--color-maroon-700);
  }

  .p-select {
    width: 100% !important;
  }
}

:host-context(html.dark) ::ng-deep {
  .p-select {
    background: var(--zinc-800) !important;
    border: 1px solid var(--zinc-600) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
    
    .p-select-label {
      color: var(--zinc-100) !important;
      &.p-placeholder {
        color: var(--zinc-400) !important;
      }
    }
    
    .p-select-dropdown {
      color: var(--zinc-400) !important;
    }
    
    &:hover {
      border-color: var(--maroon-600) !important;
    }
  }

  .ps-2\.5 {
    color: white !important;
    font-weight: 500;
  }
}
