<section class="pe-3 flex flex-col gap-1.5">
    <!-- category filter -->
    <div class="h-[300px] border-b border-zinc-100 pb-5">
        <app-filter-name (clicked)="resetCategory()" filterName="Category"></app-filter-name>
        <div class="h-[90%] overflow-y-auto mt-2.5">
            @for(category of categoryFilters() ; track $index){
            <div class="flex items-center mb-1 rounded cursor-pointer  duration-300 "
                (click)="filterByCategory(category)"
                [class]="selectedCategoryIds().includes(category._id) ? 'bg-maroon-50 hover:bg-maroon-50':'bg-zinc-200 hover:bg-zinc-300'">
                <div class="p-1 rounded-s"
                    [class]="selectedCategoryIds().includes(category._id) ? 'bg-maroon-600':'bg-zinc-500'">
                    <img [src]="category.image" class="w-[21px] h-5 rounded-s " alt="icon">
                </div>
                <span class="ps-2.5 capitalize">{{category.name}}</span>
            </div>
            }
        </div>
    </div>
    <!-- occasion filter -->
    <div class="h-[300px] border-b border-zinc-100 pb-5">
        <app-filter-name (clicked)="resetOccasion()" filterName="Occasion"></app-filter-name>
        <div class="h-[90%] overflow-y-auto mt-2.5">
            <div class="grid grid-cols-2 gap-2">
                @for(occasion of occasionFilters() ; track $index){
                <div class="relative rounded-lg  cursor-pointer" (click)="filterByOccasion(occasion)">
                    <img [src]="occasion.image" class="w-full h-[74px]  rounded-lg " alt="occasion image">
                    <span
                        class="absolute top-1/2 start-1/2 -translate-1/2 font-Primary font-medium text-zinc-50 z-10 text-center">
                        @if (occasion.name.length > 15) {
                        {{ occasion.name | slice:0:15 }}
                        <span>...</span>
                        }@else {
                        {{ occasion.name }}
                        }
                    </span>
                    <div class="absolute inset-0 rounded-lg duration-1000"
                        [class]="selectedOccasionIds().includes(occasion._id) ? 'bg-linear-[180deg,#00000040_0%,#A6252A_100%]':'bg-linear-[180deg,rgba(0,0,0,0.4)_0%,rgba(0,0,0,0.8)_100%] hover:bg-linear-[180deg,rgba(0,0,0,0.25)_0%,rgba(0,0,0,0.5)_100%]'">
                    </div>
                </div>
                }
            </div>

        </div>

    </div>
    <div class="h-[300px]">
        <!-- rating filter -->
        <div class="border-b border-zinc-100 pb-5">
            <app-filter-name (clicked)="resetRating()" filterName="Rating"></app-filter-name>
            <div class="mt-2.5">
                <p-rating (click)="filterByRating()" [(ngModel)]="starsNumsSelected" />
            </div>
        </div>
        <!-- price filter -->

        <div class="border-b border-zinc-100 pb-5">
            <app-filter-name (clicked)="resetPrice()" filterName="Price"></app-filter-name>
            <div class="flex gap-2 mt-2.5 mb-6">
                <div class="w-1/2">
                    <span class="font-inter font-medium text-zinc-800 text-sm">from</span>
                    <input (input)="convertRangeToNumber(0)" [(ngModel)]="rangeValues[0]" type="text" placeholder="0" class="price-filter-input">
                </div>
                <div class="w-1/2">
                    <span class="font-inter font-medium text-zinc-800 text-sm">to</span>
                    <input (input)="convertRangeToNumber(1)"[(ngModel)]="rangeValues[1]" type="text" placeholder="10000000" class="price-filter-input">
                </div>

            </div>
             <p-slider (onChange)="filterByPrice()" [min]="0" [max]="2000" [(ngModel)]="rangeValues" [range]="true" class="w-56" />
        </div>
        <!-- reset filters button -->
        <div class="py-4 ">
            <button (click)="resetAllfilters()" [disabled]="
                    selectedCategoryIds().length === 0 
                    && selectedOccasionIds().length === 0
                    && starsNumsSelected==null 
                    && rangeValues[0]===0
                    && rangeValues[1]===0 " class="reset-button-filter">
                <i class="pi pi-undo"></i>
                <span>Reset All</span>
            </button>
        </div>
      

    </div>
</section>