@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@font-face {
  src: url(../public/fonts/edwardianscriptitc.ttf);
  font-family: 'Edwardian Script';
}
@import 'primeicons/primeicons.css';
:root {
  --maroon-800: #501419;
  --maroon-700: #741c21;
  --maroon-600: #a6252a;
  --maroon-500: #cd2e33;
  --maroon-50: #fbeaea;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
  --soft-pink-300: #ffa3b9;
  --soft-pink-200: #ffc2d0;
  --soft-pink-50: #fff1f5;
  --red-600: #dc2626;
  --red-500: #ef4444;
  --blue-600: #155dfc;
  --blue-500: #2b7fff;
  --blue-400: #50a2ff;
  --yellow-star: #fba707;
  --yellow-600: #ca8a04;
  --emerald-500: #00bc7d;
  --inter: 'Inter', sans-serif;
  --zain: 'Zain', sans-serif;
  --mulish: 'Mulish', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --Edwardian: 'Edwardian Script';

  --13px: 13px;
  --16px: 16px;
}

@theme {
  --color-maroon-500: var(--maroon-500);
  --color-maroon-600: var(--maroon-600);
  --color-maroon-700: var(--maroon-700);
  --color-maroon-50: var(--maroon-50);
  --color-zinc-800: var(--zinc-800);
  --color-zinc-700: var(--zinc-700);
  --color-zinc-600: var(--zinc-600);
  --color-zinc-500: var(--zinc-500);
  --color-zinc-400: var(--zinc-400);
  --color-zinc-300: var(--zinc-300);
  --color-zinc-200: var(--zinc-200);
  --color-zinc-100: var(--zinc-100);
  --color-zinc-50: var(--zinc-50);
  --color-soft-pink-300: var(--soft-pink-300);
  --color-soft-pink-200: var(--soft-pink-200);
  --color-soft-pink-50: var(--soft-pink-50);
  --color-red-600: var(--red-600);
  --color-red-500: var(--red-500);
  --color-blue-600: var(--blue-600);
  --color-blue-500: var(--blue-500);
  --color-blue-400: var(--blue-400);
  --color-yellow-star: var(--yellow-star);
  --color-yellow-600: var(--yellow-600);
  --color-emerald-500: var(--emerald-500);

  --font-inter: var(--inter);
  --font-zain: var(--zain);
  --font-mulish: var(--mulish);
  --font-open-sans: var(--open-sans);
  --font-Edwardian: var(--Edwardian);

  --text-13px: var(--13px);
  --text-16px: var(--16px);
}
.nav-icon {
  @apply absolute text-white text-[10px] text-center font-medium top-[-5px] end-[-5px]  w-3.5 h-3.5 rounded-full bg-red-600;
}
.hover-side-bar {
  @apply hover:bg-maroon-50 duration-300 hover:m-2.5 rounded-lg;
}
.side-bar-link {
  @apply flex items-center cursor-pointer p-4 ;
}
.location-text::before {
  content: 'Deliver to:';
  color: var(--color-zinc-500);
  font-size: 14px;
  position: absolute;
  top: -17px;
}
.p-dialog-mask {
z-index: 10000 !important; 
}
